@model Model.University

@{
    ViewData["Title"] = "Ο Λογαριασμός μου";
    Layout = "_Layout";
}

<h1>Ο Λογαριασμός μου</h1>

<hr class="basic" />

<div class="form-group row">
    <div class="col-4">
        <label asp-for="OfficialName"></label>
    </div>
    <div class="col-8">
        <input asp-for="OfficialName" class="form-control" disabled />
    </div>
</div>

<div class="form-group row">
    <div class="col-4">
        <label asp-for="Address"></label>
    </div>
    <div class="col-8">
        <input asp-for="Address" class="form-control" disabled />
    </div>
</div>

<div class="form-group row">
    <div class="col-4">
        <label asp-for="Website"></label>
    </div>
    <div class="col-8">
        <input asp-for="Website" class="form-control" disabled />
    </div>
</div>

<div class="form-group row">
    <div class="col-4">
        <label asp-for="Phone"></label>
    </div>
    <div class="col-8">
        <input asp-for="Phone" class="form-control" disabled />
    </div>
</div>


@{
    if (Model.Faculties.Count > 0)
    {
        <hr class="basic" />

        <h2>Σχολές:</h2>
        <ul>
            @foreach (var item in Model.Faculties)
            {
                <li>
                    <a class="nav-link text-light" asp-area="" asp-controller="Faculty" asp-action="Details" asp-route-id="@item.Id">@item.OfficialName</a>
                </li>
            }
        </ul>
    }
}

<hr class="basic" />

<a class="btn btn-basic" href="javascript:history.go(-1)" role="button">Πίσω</a>

@section scripts
{
    @{
        <script>
            $(document).ready(function () {
            });
        </script>
    }
}