/***************************************************** Start Variables *******************************************************************/
:root {
    --main-background-color: #222D32;
    --dark-background-color: #1A2226;
    --dark-navbar-color: #343A40;
    --main-white-color: #FFFFFF;
    --main-border-color: #9CD677;
    --main-label-color: #6C6C6C;
    --main-orange-color: #FF8C00;
}

/***************************************************** End Variables *******************************************************************/