@model VolunteerWebApplication.Models.VolunteerDetailsViewModel

@{
    ViewData["Title"] = "Προφίλ Εθελοντή";
    Layout = "_Layout";
}

<h1>Προφίλ Εθελοντή</h1>

<hr class="basic" />

<div class="form-group row">
    <div class="col-4">
        <label asp-for="FirstName"></label>
    </div>
    <div class="col-8">
        <input asp-for="FirstName" class="form-control" disabled />
    </div>
</div>

<div class="form-group row">
    <div class="col-4">
        <label asp-for="LastName"></label>
    </div>
    <div class="col-8">
        <input asp-for="LastName" class="form-control" disabled />
    </div>
</div>

<div class="form-group row">
    <div class="col-4">
        <label asp-for="FatherName"></label>
    </div>
    <div class="col-8">
        <input asp-for="FatherName" class="form-control" disabled />
    </div>
</div>

<div class="form-group row">
    <div class="col-4">
        <label asp-for="Phone"></label>
    </div>
    <div class="col-8">
        <input asp-for="Phone" class="form-control" disabled />
    </div>
</div>

<div class="form-group row">
    <div class="col-4">
        <label asp-for="Address"></label>
    </div>
    <div class="col-8">
        <input asp-for="Address" class="form-control" disabled />
    </div>
</div>

<div class="form-group row">
    <div class="col-4">
        <label asp-for="Stars"></label>
    </div>
    <div class="col-8">
        <input asp-for="Stars" class="form-control" disabled />
    </div>
</div>

<div class="form-group row">
    <div class="col-4">
        <label asp-for="Skills"></label>
    </div>

    <div class="col-8">
        <input type="text" asp-for="Skills" class="form-control" disabled />
    </div>
</div>

@{
    if (Model.Groups.Count() > 0)
    {
        <hr class="basic" />

        <h2>Groups:</h2>
        <ul>
            @foreach (var item in Model.Groups)
            {
                <li>
                    <a class="nav-link text-light" asp-area="" asp-controller="Group" asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
                </li>
            }
        </ul>
    }
}

@Html.HiddenFor(m => m.Id)
<input type="hidden" value="@ViewData["jwtTokenSession"]" id="jwtTokenSession" />

<hr class="basic" />

<a class="btn btn-basic" href="javascript:history.go(-1)" role="button">Πίσω</a>

@section scripts
{
    @{
        await Html.RenderPartialAsync("_TagInputLayout");

        <script>
            $(document).ready(function () {
                var magicSuggestInstance = null;
                var allSkills = null;
                var skillsVolunteer = null;

                GetAllSkills();
                GetSkillsVolunteer();

                function GetAllSkills() {
                    $.ajax({
                        url: "https://localhost:44378/Skill",
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        beforeSend: function (xhr) {
                            var token = "Bearer " + $("#jwtTokenSession").val();
                            xhr.setRequestHeader("Authorization", token);
                        },
                        success: function (data) {
                            allSkills = Object.values(data);

                            PopulateAllSkillsSuggest();
                        }
                    });
                }

                function GetSkillsVolunteer() {
                    var volunteerId = $("#Id").val();

                    $.ajax({
                        url: "https://localhost:44378/Skill/Volunteer/" + volunteerId,
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        beforeSend: function (xhr) {
                            var token = "Bearer " + $("#jwtTokenSession").val();
                            xhr.setRequestHeader("Authorization", token);
                        },
                        success: function (data) {
                            skillsVolunteer = Object.values(data);

                            PopulateSkillsVolunteerSuggest();
                        }
                    });
                }

                function PopulateAllSkillsSuggest() {
                    magicSuggestInstance = $("#Skills").magicSuggest({
                        placeholder: "",
                        maxSelection: 10000,
                        valueField: "id",
                        data: allSkills
                    });
                }

                function PopulateSkillsVolunteerSuggest() {
                    try {
                        magicSuggestInstance.setValue(skillsVolunteer);
                    }
                    catch (err) {
                        GetSkillsVolunteer();
                    }
                }
            });
        </script>
    }
}