@{
    ViewData["Title"] = "Πολιτική Απορρήτου";
}

<h1>Πολιτική Απορρήτου</h1>

<hr class="basic" />

<p class="text-justify">
    Η προστασία των προσωπικών σας δεδομένων είναι σημαντική για εμάς!
</p>

<hr class="basic" />

<a class="btn btn-basic" href="javascript:history.go(-1)" role="button">Πίσω</a>