@using Microsoft.AspNetCore.Http;

@{
    var username = Context.Session.GetString("username");
    var userId = Context.Session.GetString("userId");
    var jwtToken = Context.Session.GetString("jwtToken");
}

<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UniCrowd | @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-dark navbar-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/unicrowd-logo.png" alt="Logo" style="width:150px;height:30px;"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Index">Χρήστης: @username</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Logout">Αποσύνδεση</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">

        <div class="row">

            <div class="col-12 main-body">
                    @RenderBody()
            </div>

        </div>


    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - UniCrowd - <a asp-area="" asp-controller="Home" asp-action="Privacy">Πολιτική Απορρήτου</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://kit.fontawesome.com/d2a8d98377.js" crossorigin="anonymous"></script>

    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>


    <script>
        var _userway_config = { account: "owJ8FC6ltu" };
    </script>
    <script src="https://cdn.userway.org/widget.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
