@{
    ViewData["Title"] = "Αρχική Σελίδα";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @TempData["ErrorMessage"]
    </div>
}

<div class="center-block">
    <div class="btn-group-vertical main-menu" role="group" aria-label="Κύριο μενού">
        <a class="btn btn-basic" asp-area="" asp-controller="Task" asp-action="New">Νέο Task</a>
        <a class="btn btn-basic" asp-area="" asp-controller="Task" asp-action="">Διαχείριση Τasks</a>
        <a class="btn btn-basic" asp-area="" asp-controller="University" asp-action="">Πανεπιστήμια</a>
        <a class="btn btn-basic" asp-area="" asp-controller="Volunteer" asp-action="">Εθελοντές</a>
    </div>
</div>