@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="header"></div>
<div class="login">
    <table>
        <tr>
            <td>Email</td>
            <td><input id="username" type="text" autocomplete="off" class="form-control" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input id="password" type="password" class="form-control" /></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input id="login" type="button" value="Login" class="btn btn-primary" />
                <input id="register" type="button" value="Register" class="btn btn-secondary" />
            </td>
        </tr>
    </table>
</div>
<script src="~/js/settings.js"></script>
<script src="~/js/common.js"></script>
<script src="~/js/login.js"></script>